# Database
PG_VERSION=16.3
DATABASE_HOST=postgres
DATABASE_NAME=cart_api_development
DATABASE_USER=cart_api
DATABASE_PASSWORD=secret

#Ruby
RUBY_VERSION=3.3.1

# Rails
RAILS_ENV=development
BUNDLE_WITHOUT=production